body{
    margin: 0px;
    padding: 0px;
}
.banner{
    width: 100%;
    height: 382px;
}

.banner img{
    object-fit: cover;
    width:100%;
    height:100%;
    filter: brightness(70%);
}
.banner h1{
    color: white;
    font-family: Courgette;
    font-size: 40px;
    margin: auto;
    text-align:center;
    position: relative;
    top: -209px;
}

.grid-container-information{
    display: flex;
    grid-template-columns: 20% 20% 50% 10% ;
}

.grid-container-information div{
    position: relative;
    top: -8rem;
    margin: auto;
    text-align:center;
}

.grid-container-information div > p{
    color: white;
    font-family: Courgette;
    font-size: 2vw;
}

.grid-container-information p{
    display: inline-block;
}

.information-youtube img{
    filter: brightness(0) invert(1);
    width: 3vw;
}

.information-tags img{
    filter: brightness(0) invert(1);
    width: 3vw;
}

.information-area img{
    filter: brightness(0) invert(1);
    width: 3vw;
}

.category img{
    width: 3vw;
    filter: brightness(0) invert(1);
}

.container{
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-columns: 50% 50%;
}

.ingredients-list{
    margin-left: 50px ;
}

.image-meal{
    margin: auto;
}

.image-meal img{
    width: 450px;
    border-radius: 15px;
}
.container #ingredient{
    font-family: Tienne;
    color: #7A3300;
}

.container p{
    color: #1E1E1E;
    font-family: Tienne;
    font-size: 18px;
} 

.container-instructions{
    text-align: justify;
    background-color: #fef6ea;
    padding: 5rem;
    font-family: Tienne;
  
}

.container-instructions h1{
    text-align: left;
    font-family: Tienne;
    color: #7A3300;
    font-size: 24px;
}

th{
    font-family: Tienne;
    font-size: 20px;
}

tr{
    font-family: Tienne; 
    font-size: 18px;
}

@media (max-width: 614px) {
    .grid-container-information{
        display: block;
        margin: auto;
    }
    .grid-container-information div{
        top: 0rem;
        text-align:left;
        padding: 0rem 2rem;
    }
    .grid-container-information div > p{
        font-size: 12px;
    }
    .container {
      margin-top: 1rem;
    }
    .information-youtube > a > img{
        filter: brightness(0%);
    }

    .grid-container-information div > p{
        color: black;
    }

    .banner{
        width: 100%;
        height: 282px;
    }
    .banner h1{
        color: white;
        font-family: Courgette;
        font-size: 40px;
        margin: auto;
        text-align:center;
        position: relative;
        top: -160px;
    }
    
    .information-tags img{
        filter: brightness(100%);
        width: 3vw;
    }
    
    .information-area img{
        filter: brightness(100%);
        width: 3vw;
    }
    
    .category img{
        width: 3vw;
        filter: brightness(100%);
    }
  }
